body {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  font-family: sans-serif;
}

div {
  display: flex;
  flex-direction: column;
}

form {
  margin: 10px;
}

form input {
  margin: 0 5px;
}

label {
  padding: 10px;
}

ul {
  list-style: none;
}

li {
  padding-top: 10px;
  align-items: center;
}

li button {
  margin: 5px;
  background-color: transparent;
  border: none;
}

li button:hover {
  background-color: rgb(242, 239, 239);
  cursor: pointer;
}

span {
  margin: 0 auto;
}
